/Module2_exponential_growth/solution
.Rproj.user
Module1_Install_Code/solutions.r
Module1_Install_Code/.Rhistory
Module2_Install_Code/InClassExampleModule2.r
/Module3_exponential_growth/solution
.Rhistory
